* {
  box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  .clearfix{
    clear:both;
  }
  .header-banner{
    padding-top:35px;
    padding-bottom:100px;
    color:#ffffff;
    font-family:Helvetica, serif;
    font-weight:100;
 background:  linear-gradient(90deg, rgba(28,0,36,1) 0%, rgba(54,9,121,1) 48%, rgba(154,0,255,1) 100%);
  }
  .container-width{
    width:90%;
    max-width:1150px;
    margin:0 auto;
  }
  .logo-container{
    float:left;
    width:50%;
  }
  .menu{
    float:right;
    width:50%;
  }
  .menu-item{
    float:right;
    font-size:15px;
    color:#eee;
    width:130px;
    padding:10px;
    min-height:50px;
    text-align:center;
    line-height:30px;
    font-weight:400;
  }
  .lead-title{
    margin:150px 0 30px 0;
    font-size:40px;
  }
  .sub-lead-title{
    max-width:650px;
    line-height:30px;
    margin-bottom:30px;
    color:#c6c6c6;
  }
  .lead-btn{
    margin-top:15px;
    padding:10px;
    width:190px;
    min-height:30px;
    font-size:20px;
    text-align:center;
    letter-spacing:3px;
    line-height:30px;
    background-color:#d983a6;
    border-radius:5px;
    transition:all 0.5s ease;
    cursor:pointer;
  }
  .lead-btn:hover{
    background-color:#ffffff;
    color:#4c114e;
  }
  .lead-btn:active{
    background-color:#4d114f;
    color:#fff;
  }
  .flex-sect{
    background-color:#fafafa;
    padding:100px 0;
    font-family:Helvetica, serif;
  }
  .flex-title{
    margin-bottom:15px;
    font-size:2em;
    text-align:center;
    font-weight:700;
    color:#555;
    padding:5px;
  }
  .flex-desc{
    margin-bottom:55px;
    font-size:1em;
    color:rgba(0, 0, 0, 0.5);
    text-align:center;
    padding:5px;
  }
  .cards{
    padding:20px 0;
    display:flex;
    justify-content:space-around;
    flex-flow:wrap;
  }
  .card{
    background-color:white;
    height:300px;
    width:300px;
    margin-bottom:30px;
    box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius:2px;
    transition:all 0.5s ease;
    font-weight:100;
    overflow:hidden;
  }
  .card:hover{
    margin-top:-5px;
    box-shadow:0 20px 30px 0 rgba(0, 0, 0, 0.2);
  }
  .card-header{
    height:155px;
    background-image:url("https://via.placeholder.com/350x250/78c5d6/fff");
    background-size:cover;
    background-position:center center;
  }
  .card-header.ch2{
    background-image:url("https://via.placeholder.com/350x250/459ba8/fff");
  }
  .card-header.ch3{
    background-image:url("https://via.placeholder.com/350x250/79c267/fff");
  }
  .card-header.ch4{
    background-image:url("https://via.placeholder.com/350x250/c5d647/fff");
  }
  .card-header.ch5{
    background-image:url("https://via.placeholder.com/350x250/f28c33/fff");
  }
  .card-header.ch6{
    background-image:url("https://via.placeholder.com/350x250/e868a2/fff");
  }
  .card-body{
    padding:15px 15px 5px 15px;
    color:#555;
  }
  .card-title{
    font-size:1.4em;
    margin-bottom:5px;
  }
  .card-sub-title{
    color:#b3b3b3;
    font-size:1em;
    margin-bottom:15px;
  }
  .card-desc{
    font-size:0.85rem;
    line-height:17px;
  }
  .am-container{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-around;
  }
  .am-content{
    float:left;
    padding:7px;
    width:490px;
    color:#444;
    font-weight:100;
    margin-top:50px;
  }
  .am-title{
    padding:7px;
    font-size:25px;
    font-weight:400;
  }
  .am-desc{
    padding:7px;
    font-size:17px;
    line-height:25px;
  }
  .footer-under{
    background-color:#312833;
    padding-bottom:100px;
    padding-top:100px;
    min-height:500px;
    color:#eee;
    position:relative;
    font-weight:100;
    font-family:Helvetica,serif;
  }
  .copyright{
    background-color:rgba(0, 0, 0, 0.15);
    color:rgba(238, 238, 238, 0.5);
    bottom:0;
    padding:1em 0;
    position:absolute;
    width:100%;
    font-size:0.75em;
  }
  .made-with{
    float:left;
    width:50%;
    padding:5px 0;
  }
  .foot-social-btns{
    display:none;
    float:right;
    width:50%;
    text-align:right;
    padding:5px 0;
  }
  #izm0z{
    font-family:Tahoma, Geneva, sans-serif;
    font-size:48px;
  }
  #ihc57{
    font-family:Helvetica, sans-serif;
    color:#ffffff;
  }
  #iny7r5{
    color:rgb(144, 203, 255);
    font-family:"Brush Script MT", sans-serif;
    font-size:80px;
  }
  #i2twr9{
    font-size:22.4px;
  }
  #ip7x09{
    font-size:13.6px;
  }
  #i8ccwi{
    color:black;
    height:100%;
    left:25%;
    position:relative;
  }
  #i41lnf{
    color:black;
    position:relative;
    height:100%;
    left:25%;
  }
  #izp60b{
    color:black;
    position:relative;
    height:90%;
    left:25%;
    top:10%;
  }
  #itnnvx{
    min-height:50px;
    padding:40px 0 100px 0;
  }
  #ikt8q4{
    font-family:Helvetica, sans-serif;
    margin:0 0 10px 0;
  }
  #ih0kvj{
    display:inline-block;
    font-family:Helvetica, sans-serif;
    font-weight:900;
    color:#27284e;
    width:100%;
    text-align:center;
  }
  #i441e2{
    color:#27284e;
    font-weight:900;
    text-align:center;
    width:100%;
    font-family:Helvetica, sans-serif;
    position:relative;
    display:inline-block;
  }
  #i4itql{
    color:#eeeeee;
  }
  #i1lnlk{
    padding:10px;
    color:#eeeeee;
  }
  #ip4bap{
    float:right;
    font-family:Helvetica, sans-serif;
    color:#eeeeee;
    text-align:center;
    padding:10px 0 0 0;
  }
  #i5tma6{
    color:#90cbff;
  }
  #ivnc7l{
    color:#90cbff;
  }
  #i6u29j{
    color:#90cbff;
  }